{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <div>
        This tutorial has been put together by Zahné
    </div>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Cat!"/>
{% endblock %}

{% block link_block %}
   {% if user.is_authenticated %}
       <li><a href="{% url 'logout' %}">Logout</a></li>
       <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
   {% else %}
       <li><a href="{% url 'login' %}">Sign In</a></li>
       <li><a href="{% url 'register' %}">Sign Up</a></li>
   {% endif %}
    <li><a href="{% url 'index' %}">Index</a></li>
{% endblock %}