{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %} Restricted {% endblock %}

{% block body_block %}
    Sorry you tried to enter something that is restricted!
{% endblock %}

{% block link_block %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Sign In</a></li>
        <li><a href="{% url 'register' %}">Sign Up</a></li>
    {% endif %}
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'index' %}">Index</a></li>
{% endblock %}